header
	.header#header
		.container_content
			.header_content
				a(href="./").header_logo
				.header_menu#headerMenu
					.close
					ul.clearfix
						li
							a(href="./").current-menu-item Главная
						li
							a(href="product.html") Товар
						li
							a(href="blog.html") Блог
						li
							a(href="service.html") Поддержка
				.header_hamburger
					span.top
					span.mid
					span.bottom